header{
    .atas{
        .container{
            .navbar{

            }
        }
    }
    .bawah{
        background: rgb(0, 122, 255);
        .container{
            .navbar{
                color: #fff;
                .collapse{
                    .navbar-nav{
                        .nav-item{
                            .nav-link{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}